---
layout: default
title: Lucas
---
			<header>
				<img src="https://avatars.githubusercontent.com/u/83518257" alt="Photo" style="border-radius:100%;width:100px;height:auto" />
				<h2>Luqaska</h2>
			</header>
			<p><span style="background:#eaeaea"><span style="color:transparent">·=</span>[Haha, web goes brrr]<br />·–⚙️<span style="color:transparent">=============</span>⚙️</span></p>
<p>Qué en paz descansen</p>
			<div id="lista">
				<h2>Redes sociales</h2>
				<li><a target="_blank" href="https://github.com/Luqaska">GitHub <i class="fa fa-github" style="color:#24292e"></i></a></li>
				<li><a target="_blank" href="https://fedi.koyu.space/lucas">Microblog <i class="fa fa-circle-o" style="color:#fe53e1"></i></a>
				<li><a target="_blank" href="https://blog.atico.ga">Blog <i class="fa fa-file-text" style="color:#fe53e1"></i></a></li>
				<li><a target="_blank" href="https://taringa.net/luqaska">Taringa <span style="padding:1px 2px;border-radius:2px;background:blue;color:white;font-weight:bold;font-size:small">T!</span></a></li>
				<h2>Cosas</h2>
				<!--<li><a target="_blank" href="https://ghost.television.si">Ghost Boulevard <i class="fa fa-snapchat-ghost" style="color:black"></i></a></li>
				<li><a target="_blank" href="https://www.frifoss.repl.co">Frifoss <i class="fa fa-gamepad" style="color:yellow"></i></a></li>-->
				<li><a target="_blank" href="https://tilde.team/~lucas/" title="nunca más tooter">~~~ <i class="fa fa-laptop" style="color:darkgreen"></i></a></li>
			</div>
